html, body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.splash {
	background: url(../img/bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	display: block;
}

h1 {
	color: #FFFFFF;
	font-size: 60px;
	font-family: "Century Gothic","Lucida Grande",Arial,sans-serif;
}

.box {
	margin-top: 100px;
}

.right {
	text-align: right;
	float: right;
	margin-right: 180px;
	font-size: 13px;
}

.left {
	text-align: left;
	float:left;
	margin-left: 180px;
	font-size: 13px;
}

.corner {
	position: fixed;
	margin: 20px;
	height: 50px;
	width: 50px;
}

.tagline {
	color: #FFFFFF;
	font-size: 17px;
	font-weight: 200;
	font-family: 'Fauna One', serif;
}

.navigation {
	margin-top: 30px;
}

.navigation li {
	margin-bottom: 5px;
}

.navigation li a{
	color: #E7DBCA;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial;
	text-shadow: 5 0 0.2em #000000;
}

.navigation li a:hover {
	color: #D8C7B1;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

#startupSemester {
	background: url(../img/startupsemester.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	display: block;
}

#ssContent {
	position: relative;
}