/* ------------------------------ BASE ------------------------------ */
html, body {
	margin:0 auto;
	width:100%;
	height:100%;
	background: #000000;
}

/* Sections */
#top {
	background:url(../img/bg.jpg) no-repeat center center fixed;
}

#about {
	/*background:url(../img/3ds.jpg) no-repeat center center fixed;*/
	background: #FFFFFF;
}

#startupSemester {
	background:url(../img/startupsemester.jpg) no-repeat center center fixed;
}

#threeDayStartup {
	background:url(../img/about.jpg) no-repeat center center fixed;
}

#hackAtTech {
	background:url(../img/hackattech.jpg) no-repeat center center fixed;
}

/* Re-used elements */
h1 {
	color:#FFFFFF;
	font-family:"Century Gothic","Lucida Grande", Arial, sans-serif;
}

.right {
	text-align:right;
	float:right;
}

.left {
	text-align:left;
	float:left;
}

.hidden {
	display:none;
}

.tagline {
	color:#FFFFFF;
	font-family:'Fauna One', serif;
}

.content {
	color:#FFFFFF;
	font-family:'Fauna One', serif;
}

.content a, .content a:visited {
	color:#FFFFFF;
}

.content a:hover {
	color:#F2F2F2;
}


.navigation li a {
	text-transform:uppercase;
	font-family:Arial;
	text-decoration: underline;
}

.social {
	font-family: "Socialico";
	color: #ffffff;
	font-size: 25px;
	line-height: 20px;
	margin-top: 15px;
}

.social li {
	float: left;
	margin-right: 15px;
}

.social li a{
	text-decoration:none;
	color: #ffffff;
}
.group:after {
	content:"";
	display:table;
	clear:both;
}

.group {
	-webkit-background-size:130%;
	-moz-background-size:130%;
	-o-background-size:130%;
	background-size:130%;
	min-height:100%;
	display:block;
	border-bottom:1px solid rgba(0, 0, 0, 0.3);
	border-top:1px solid rgba(255, 255, 255, 0.1);
}

.callToAction {
	color:#FFFFFF;
	font-family:"Fauna One", sans-serif;
	text-decoration:none;
	background:#000000;
	border: 5px solid #FFFFFF;
}

.corner {
	position:fixed;
	margin:20px;
}

.logo {
	height:40px;
	width:40px;
}

/* Single use */
#mce-EMAIL {
	border:0;
	border-radius:3px;
	--moz-border-radius:3px;
	--webkit-border-radius:3px;
	font-family:"Fauna One";
	outline:none;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
	color:#595959;
}


#nav ul{
	list-style: none;
	line-height: 80px;
	display: inline;
	float: right;
}

#nav li {
	display: inline;
	line-height: 80px;
	float: right;
	margin-right: 10px;
	font-size: 17px;
	font-family: "Century Gothic","Lucida Grande", Arial, sans-serif;
	text-transform: uppercase;
	font-family: bold;
}