html, body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.splash {
	background: url(../img/bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	display: block;
}

h1 {
	color: #FFFFFF;
	font-size: 60px;
	font-family: "Century Gothic","Lucida Grande",Arial,sans-serif;
}

.box {
	margin-top: 100px;
}

.right {
	text-align: right;
	float: right;
	margin-right: 180px;
	font-size: 13px;
}

.left {
	text-align: left;
	float:left;
	margin-left: 180px;
	font-size: 13px;
}

.corner {
	position: fixed;
	margin: 20px;
}

.logo {
	height: 50px;
	width: 50px;
}

.static-nav {
	position: fixed;
	line-height: 50px;
	margin-left: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}

.hidden {
	display: none;
}

.tagline {
	color: #FFFFFF;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: -1px;
	font-family: 'Fauna One', serif;
	max-width: 680px;
	line-height: 28px;
}

.content {
	color: #FFFFFF;
	font-size: 15px;
	font-family: 'Fauna One', serif;
	line-height: 28px;
	max-width: 800px;
	margin-bottom: 20px;
	font-weight: bold;
	letter-spacing: -1px;
}

.content a {
	color: #FFFFFF;
}

.content a:hover {
	color: #F2F2F2;
}
.content a:visited {
	color: #FFFFFF;
}

.navigation {
	margin-top: 30px;
}

.navigation li {
	margin-bottom: 5px;
}

.navigation li a{
	color: #E7DBCA;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial;
	text-shadow: 5 0 0.2em #000000;
}

.navigation li a:hover {
	color: #D8C7B1;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.group {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
	display: block;
}

#copy {
	width: 500px;
}
#startupSemester {
	background: url(../img/startupsemester.jpg) no-repeat center center fixed;
}

#threeDayStartup {
	background: url(../img/3ds.jpg) no-repeat center center fixed;
}

#about {
	background: url(../img/bg.png) no-repeat center center fixed;
}

#ssContent {
	position: relative;
}
#about h1 {
	margin-bottom: 10px;
}
#mce-EMAIL {
	border: 0;
	height: 31px;
	width: 300px;
	border-radius: 5px;
	margin-top: 10px;
	font-family: "Fauna One";
	font-size: 15px;
	padding: 0 10px;
	outline: none;
}

p.aboutCopy {
	max-width: 800px;
}

.space {
	height: 30px;
	clear: both;
	display: block;
}

.callToAction{
	color: #FFFFFF;
	font-family: "Fauna One", sans-serif;
	font-size: 16px;
	text-decoration: none;
	background: #000000;
	width: 300px;
	height: 30px;
	border: 10px solid #000000;
	border-radius: 5px;
	margin-top: 5px;
	padding: 0 10px;
}

.inverse {
	color: #000000;
	background: #FFFFFF;
	border: 10px solid #FFFFFF;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #595959;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #595959;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #595959;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #595959;
}